body{
    background-color: white;
}
.content{
    margin-top: 1%;
}
.navbar{
    background: #373E82;
}
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link:hover{
    font-weight: bold;
}
.logo{
    width: 10%;
}
.top-header{
    padding: 2%;
}
.u-info{
    margin-top: 3%;
}
.table .thead{
    background: #373E82;
    color: white;
}
.table{
    border-bottom: 1px solid #d4d4d4;
}
.table .trow{
    background: #fafafa;
}
.btn-primary{
    background: #373E82;
    border-color: #373E82;
}
.btn-primary:hover{
    background: #1f254a;
    border-color:#1f254a;
}
.employee_background{
    border-radius: 10px;
    background: #f3f3f3;

}
.employee{

    padding: 2%;
}
.trow{
    cursor: pointer;
}

#message {
    resize: vertical;
}

#Attachments {
    display:block;
}

.Filter-List {
    float: right;
    height: auto;
    width: auto;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
}

.Filter-Label {
    margin-bottom: 0;
}

.Filter-Value {
    margin-left: 0.375em;
    display: inline-block;
}

.Filter-Item {
    display: inline-block;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Filter-Button {
    display: inline-block;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;
    background-color: #373E82;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.gallery_pics_holder {
    text-align: center;
    display: table;
}
.gallery_pics {
    display: inline-block;
    width: 300px;
    height: 89px;
    margin: 10px;
    text-align: center;
}
.gallery_pics img {
    width: 100%;
    height: 100%;
}
.gallery_pics:hover {
    cursor: pointer;
}
.gallery_pics.fullscreen img {
    width: 95%;
    height: 95%;
    margin-top: 1.2%;
}
.gallery_pics.fullscreen {
    z-index: 9999;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.DisplayBlock{
    display: block;
}
